<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{% block title %}Hudebniny{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Add additional CSS in static file -->
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="jumbotron-fluid p-5">
        <h1 class="text-center display-3"><a class="disabled" href="/">Hudebniny</a></h1>
        <hr class="nadpis">
    </header>
    <main class="container">
    {% block content %}{% endblock %}
    </main>
    <footer class="container-fluid bg-dark text-light p-3 card-footer">
        <p class="text-center">&copy; 2021 - Matěj Nešuta - IT4</p>
    </footer>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>