{% extends 'base.html' %}
{% load static %}
{% block title %}Úvodní stránka{% endblock %}

{% block content %}
    <h2 class="text-center">Úvodní stránka</h2>
    <div class="container">
    <h3 class="text-center">Kategorie</h3>
        <div class="row">
        {% for druh in druh_list %}
            <div class="col-md-6 col-lg-4" >
                <div class="card">
                    <figure class="cropped kategorie">
                        <img class="card-img-top img-fluid" src="{{ druh.foto.url }}" alt="Card image cap">
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">{{ druh.nazev }}</h5>
                         <a href="{% url 'produkty' druh.pk %}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    <div class="text-center">
        <a href="{% url 'produkty'%}" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
{% endblock %}