{% extends 'base.html' %}
{% load static %}
{% block title %}Produkty{% endblock %}

{% block content %}
    <h2 class="text-center display-5">{{ nadpis }}</h2>
    <div class="container border">
        <div class="row">
        {% for produkt in produkt_list %}
            <div class="col-md-6 col-lg-4" >
                <div class="card produkt">
                    <a href="{% url 'detail' produkt.pk %}">
                        <figure class="cropped">
                            <img class="card-img-top" src="{{ produkt.foto.url }}" >
                        </figure>
                        <div class="card-body">
                            <h5 class="card-title">{{ produkt.nazev }}</h5>
                            <p>{{ produkt.cena }} KČ</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}